*{
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
}

.table-container{
    width: 90%;
    height: 90%;
    margin: auto;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.97);
    padding: 10px 20px;
    position: relative;
}

.table-container>h2{
    display: flex;
    /*align-content: center;*/
    justify-content: center;
    padding-bottom: 20px;
}

.table-container .img-container{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #0a58ca;
}
.table-container .img-container>img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #0a58ca;
}

.table-container input{
    position: absolute;
    top: 0;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;

}